<table mat-table [dataSource]="prices">
  <ng-container matColumnDef="instrumentName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let price">{{ price.instrumentName }}</td>
  </ng-container>
  <ng-container matColumnDef="bidPrice">
    <th mat-header-cell *matHeaderCellDef>Bid price</th>
    <td mat-cell *matCellDef="let price">{{ price.bidPrice }}</td>
  </ng-container>
  <ng-container matColumnDef="askPrice">
    <th mat-header-cell *matHeaderCellDef>Ask price</th>
    <td mat-cell *matCellDef="let price">{{ price.askPrice }}</td>
  </ng-container>

  <mat-text-column name="timestamp"></mat-text-column>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>
